<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juvedesigner.jdesigner">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="Jdesigner"
        android:icon="@mipmap/ic_launcher">
        <meta-data             
        android:name="com.google.firebase.messaging.default_notification_icon"         android:resource="@drawable/ic_stat_jdesigner_icon" 
        />
        <meta-data            
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/colorAccent" 
        />              
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1356453008260262~1346959852"/>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
           
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
          
            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background"
              />
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        <intent-filter>
      <action android:name="FLUTTER_NOTIFICATION_CLICK" />
      <category android:name="android.intent.category.DEFAULT" />
  </intent-filter>
        </activity>
 
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
